{% extends "DashboardBundle:Layout:base.html.twig" %}

{% block body %}
    {% embed 'MenuBundle::main.html.twig' %}
        {% block panelButtons %}
            <a href="{{ url('cms_menu_create') }}"
               class="glyphicon glyphicon-plus btn btn-success btn-xs">{{ 'Add'|trans }}</a>
        {% endblock %}

        {% block main %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <th><input type="checkbox" data-action="selectAll"/></th>
                    <th>ID</th>
                    <th>{{ 'Title'|trans({}, 'systems') }}</th>
                    <th>{{ 'Url'|trans({}, 'systems') }}</th>
                    <th>{{ 'Sort'|trans({}, 'systems') }}</th>
                    <th>{{ 'Date'|trans({}, 'systems') }}</th>
                    <th>{{ 'Is published'|trans({}, 'systems') }}</th>
                    <th></th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td><input type="checkbox" value="{{ item.id }}" name="mark[]"/></td>
                            <td>{{ item.id }}</td>
                            <td>
                                <a href="{{ url('cms_menu_edit', {id: item.id}) }}">
                                    {{ item.title|locale }}
                                </a>
                            </td>
                            <td>{{ item.url }}</td>
                            <td>{{ item.sort }}</td>
                            <td>{{ item.dateCreate|date('d.m.y') }}</td>
                            <td>{{ item.isPublished }}</td>
                            <td><a href='{{ url('cms_menu_edit', {id: item.id}) }}'><span
                                            class="glyphicon lead text-primary glyphicon-pencil"></span></a></td>
                            <td><a href='{{ url('cms_menu_delete', {id: item.id}) }}'><span
                                            class="glyphicon lead text-danger glyphicon-remove-circle"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}