{% macro getChild(items, parent, tabindex) %}
    {% set childElements = [] %}

    {% if items|length > 0 %}
        {% for item in items %}
            {% if item.parent == parent %}
                {% set childElements = childElements|merge([item]) %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if childElements|length > 0 %}
        <ul class="dropdown-menu">
            {% for child in childElements %}
                <li>
                    <a href="{{ child.url }}">
                        {% if child.cssClasses is not empty %}
                            <i class="{{ child.cssClasses }}"></i>
                        {% endif %}
                        {{ child.title|locale }}
                    </a>
                </li>
                {{ _self.getChild(items, child) }}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% if items|length > 0 %}
    <nav class="navbar navbar-spring navbar-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav" id="main-menu">
                {% for item in items %}
                    {% if item.parent == null %}
                        <li>
                            <a tabindex="0" href="{{ item.url }}">
                                {% if item.cssClasses is not empty %}
                                    <i class="{{ item.cssClasses }}"></i>
                                {% endif %}
                                {{ item.title|locale }}
                            </a>
                            {{ _self.getChild(items, item, 0) }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endif %}